.App2_less_testC--3Bpny {
  background: #fff;
}
.App2_less_testC--3Bpny .ant-btn-primary {
  background-color: #aaaa;
}
.App2_less_body--2OByO {
  background: #38484c;
  height: 100%;
  width: 100%;
}
.nav_css_navTimeline--3jFsy:hover {
    text-shadow: 0 0 5px black;
}

.nav_css_navTimeline--3jFsy {
    text-shadow: 0 0 0px black;
    -webkit-transition: text-shadow .3s ease;
    -o-transition: text-shadow .3s ease;
    transition: text-shadow .3s ease;
}.p_css_mdp--3Q96B {
    padding: 5px;
    font-size: 0.9rem;
    border: 1px dotted #fff;
    background: #f8f8f8;
    line-height: 1.4em;
}

.p_css_mdp--3Q96B:hover {
    border: 1px solid #ccc;
    -webkit-transition: .5s border;
    -o-transition: .5s border;
    transition: .5s border;
}h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    color: #444;
    text-align: center;
    line-height: 2em;
}.list_css_mdList--2fxp9 ol {
    /* background: #dfe2e5; */
    list-style-type: decimal;
}

.list_css_mdList--2fxp9 ul {
    /* background: #dfe2e5; */
    list-style-type: circle
}

.list_css_mdList--2fxp9 {
    border: 1px solid #dfe2e5;
    padding: 0 10px 0;
}

.list_css_mdList--2fxp9 li {
    margin: 10px;
    border-bottom: 1px solid #dedede;
}
.list_css_mdList--2fxp9 li:last-child{
    border-bottom: 0;
}.table_css_mdtable--34bEx thead{
    background: #486f8e;
    font-size: 1.2em;
    color: papayawhip;
}
.table_css_mdtable--34bEx table{
    margin: 10px;
    background: #335875;
}
.table_css_mdtable--34bEx tbody tr:nth-child(2n){
    background: #d5e2ef;
}
.table_css_mdtable--34bEx tbody tr:nth-child(2n-1){
    background: #dcdada;
}
/* .mdtable th{
    background: #d5e2ef;
} */
.table_css_mdtable--34bEx table{
    border: 1px solid silver;
}
.table_css_mdtable--34bEx th{
    padding: 5px 5px 5px;
}
.table_css_mdtable--34bEx td{
    padding: 3px;
}
.table_css_mdtable--34bEx td:hover{
    background: rosybrown;
}.articleInsideNav_css_navBody--3hUFu{
    position: fixed;
    top:0;
    background: #f5f2f0;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    padding: 10px;
    min-width: 100px;
    z-index: 20;
    -webkit-transform: translate(0,-100%);
        -ms-transform: translate(0,-100%);
            transform: translate(0,-100%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.articleInsideNav_css_navBody--3hUFu:hover{
    -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
            transform: translate(0,0);
}
.articleInsideNav_css_navBody--3hUFu::after{
    z-index: 20;
    content: '\76EE\5F55';
    position: absolute;
    bottom: 0;
    background: #f5f2f0;
    height: 20px;
    width: 40px;
    text-align: center;
    left: calc(50% - 20px);
    margin-bottom: -20px;
    border: 1px solid rgb(206, 206, 206);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-animation: articleInsideNav_css_textShadow--2L_OS 1s linear infinite alternate;
            animation: articleInsideNav_css_textShadow--2L_OS 1s linear infinite alternate;
}
.articleInsideNav_css_paragraph--2KuJ8{
    cursor: pointer;
}
.articleInsideNav_css_paragraph--2KuJ8:hover{
    text-shadow: 0 0 10px grey;
    -webkit-transition: text-shadow .3s ease;
    -o-transition: text-shadow .3s ease;
    transition: text-shadow .3s ease;
}

@-webkit-keyframes articleInsideNav_css_textShadow--2L_OS{
    0%{
        text-shadow: 0 0 0px black;
    }
    100%{
        text-shadow: 0 0 6px black;
    }
}

@keyframes articleInsideNav_css_textShadow--2L_OS{
    0%{
        text-shadow: 0 0 0px black;
    }
    100%{
        text-shadow: 0 0 6px black;
    }
}.ArticleList_css_al--18Avq .ant-card-body {
    padding: 10px;
}

.ArticleList_css_articleBox--3_Lfz:hover {
    -webkit-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
}

.ArticleList_css_articleBox--3_Lfz {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
/*# sourceMappingURL=app.dfa48e9b.css.map*/